<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="RemoteEditingFilesService.RemoteEditingFilesService">
                <endpoint address="http://localhost:1800/RemoteEditingFilesService.svc"
                    binding="basicHttpBinding" bindingConfiguration="" contract="RemoteEditingFilesService.IRemoteEditingFilesService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>