<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFileTransferService" maxReceivedMessageSize="2147483647"
                    messageEncoding="Mtom">
                    <readerQuotas maxArrayLength="2147483647" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FileTransferService/FileTransferService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileTransferService"
                contract="FileTransferServiceReference.IFileTransferService"
                name="WSHttpBinding_IFileTransferService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="DownloadFilesFolder" value="DownloadFiles"/>
    </appSettings>
</configuration>