<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_IRemoteEditingFilesService" messageEncoding="Text">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="ws://localhost:1800/RemoteEditingFilesService.svc"
                binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IRemoteEditingFilesService"
                contract="RemoteEditingFilesServiceReference.IRemoteEditingFilesService"
                name="NetHttpBinding_IRemoteEditingFilesService" />
        </client>
    </system.serviceModel>
</configuration>